{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<style>
a {
  color:  #EE1D29;
}
a:hover {
  color: yellow;
}

.contactlink:hover {
  color: blue;
}

.mydivstyle:hover{
box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
transform:translateY(-20px);
}
</style>
<div class="container text-center" style = "margin-top:50px" id="contact">
       <h1 class="text-center font-weight-bold" style="font-family : Monotype Corsiva;color : #EE1D29">Contact Us</h1>
	 <br><br><br><br><br><br>
      <div class="row mt-5">
          <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="fas fa-phone-square"></i> Contact</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="tel:+91 9360037784">+91 9360037784</a></p>
          </div>
          <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="fas fa-envelope"></i> Send Mail</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="mailto:kkavinkumar24@gmail.com">kkavinkumar24@gmail.com</a></p>
          </div>
		  <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="fas fa-address-card"></i> Office Address</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="#">opp KEC,Near Masala Darbhar </a></p>
          </div>
		  <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="far fa-clock"> </i> Office Hours</h4>
              <p class = "mt-3 text-danger font-weight-bold">9:00 AM to 7:00 PM</p>
          </div>
      </div>
  </div>
{% endblock %}