{% extends 'navigation.html' %}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.jumbotron{

  margin-left:25%;
  margin-top:2%;
  width:50%;
  border:1px solid #20305E;
  border-radius:10px;
}
i{
margin-left:2%;
margin-right:2%;
}
</style><div align="center" class="jumbotron" style="padding:0%;background-color:#20305E;color:white">
  <i>Owner Detail</i>
</div>

      <div  class="jumbotron" align="left" style="margin-top:1%;">
        <div align="center" class="container">
          <img src="{{own.register.image.url}}" style="width:40%" alt="Avatar"><hr>
            <p>{{own.register.user.first_name}} {{own.register.user.last_name}}</p>

        </div><hr>
        <div class="container"><i style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          <p><i class="fa fa-briefcase"></i>{{own.register.user.username}}</p>
          <p><i class="fa fa-home"></i>{{own.register.add}}</p>
          <p><i class="fa fa-envelope"></i>{{own.register.user.email}}</p>
          <p><i class="fa fa-phone"></i>{{own.register.mobile}}</p>
          <p><i class="fa fa-address-card"></i>{{own.register.proof}}</p></i>
          <hr>
          <div style="text-align: center;">
            <!-- <button class="button button2">Total {{total}}</button> -->
            <a href="/customer-address"><button class="button" ><span>Make Payment</span></button></a>
          </div>
          <br>
        </div>
      </div><br>

{% endblock %}