{% extends 'navigation.html' %}
{% block body %}
<center><div class="container"><h2 style="color:white;background-color:#20305E;width=100%">View State</h2></div></center>
 <div class="container">
<table class="table table-bordered" width="100%" id="myTable">
  <thead>
  <tr>
    <th>Serial No.</th>
    <th>State Name</th>
    <th>Action</th>
  </tr>
  </thead>
   <tbody>

    {% for i in state %}

  <tr>

    <td>{{forloop.counter}}</td>
    <td>{{i.state}}</td>
      <td><a href="{% url 'edit_state' i.id %}"><button class="button button1">Edit</button></a>
      <a href="{% url 'delete_state' i.id %}"><button class="button button2">Delete</button></a></td>
  </tr>

    {% endfor %}
    </tbody>
</table>

 </div>

{% endblock %}